# From git documentation: 
# - If there is a separator at the beginning or middle (or both) of the pattern, then the pattern is relative to the directory level of the particular .gitignore file itself.
 
target/
failed-gui-tests/
*.class
