dist: bionic
language: java

matrix:
   include:
      - jdk: openjdk8
        env: MAVEN_ARGS="coveralls:report"
      # Sonarcloud ended support for Java 8, see
      # https://sonarcloud.io/documentation/appendices/end-of-support/ 
      - jdk: openjdk11
        env: MAVEN_ARGS="sonar:sonar -Dsonar.projectKey=Predictabowl_APT-Project-Aldinucci"



addons:
   sonarcloud:
      organization: "predictabowl"
      token: $SONAR_TOKEN

services:
   - docker
   - xvfb

#skip installation step
install: true

cache:
   directories:
      - .autoconf
      - $HOME/.m2
      - $HOME/.sonar/cache
      
      
script:
   - git fetch --unshallow
   - ./mvnw -f bookstore-parent/pom.xml clean verify -Pjacoco,e2e-test,mutation-test $MAVEN_ARGS